

body{
	color: white; background: black; width: 20000px; height :1000px; 

}

h1{
	font-size: 90px;  font-family: futura; text-align: left; word-spacing: 50px;


.sun {
	width:60%;
}

.mercury{
	width: 30% ;
}





