<!DOCTYPE html>
<html>
    <head>
        <link src="../base/reset.css">
       <link rel = "stylesheet" type="text/css" href ="gravity1.css">
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

      
       <script src='https://vuejs.org/js/vue.min.js'></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
       <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
       
       <script src="https://benahm.github.io/jquery.throwable/javascripts/jquery.throwable.js"></script>
       
    


    </head>

    <body>
        
            <h1 Id="motion-demo">HELLO!</h1>
        
      
        <div class="orbits">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1000vh" height="1000vh" >
                <circle class="orbit1"cx="0" cy="0" r="200" fill="none" stroke="#ffffff" stroke-width="1" stroke-opacity="0.3" />
                <circle class="orbit2"cx="0" cy="0" r="250" fill="none" stroke="#ffffff" stroke-width="1" stroke-opacity="0.4" />
                <circle class="orbit3"cx="0" cy="0" r="700"fill="none" stroke="#ffffff" stroke-width="1" stroke-opacity="0.5"  />
                <circle class="orbit4"cx="0" cy="0" r="900"fill="none" stroke="#ffffff" stroke-width="1" stroke-opacity="0.2"  />
                <circle class="orbit5"cx="0" cy="0" r="1500" fill="none" stroke="#ffffff" stroke-width="1" stroke-opacity="0.5" />
                <circle class="orbit6"cx="0" cy="0" r="2000" fill="none" stroke="#ffffff" stroke-width="1"stroke-opacity="0.6"  />
            </svg>
         </div>

        <div class="cursor" id="cursor"> 
       
            <div class="shipBodyDeco2"></div>
         
            <div class="shipBodyDeco"></div>
         

            <div class="shipBody"> </div>
             
               <div class= "window"></div>
                     <div class= "windowShades"></div>
            

            <div class= "peak"> </div>  
            
            <div class="bottomDeco"></div>

            <div class="bottom"></div>

            <div class="bottoms">
               <div class="bottom2"></div>
               <div class="bottom3"></div>
            </div>


               <div class="sides">
                  <div class="side1"></div>
                  <div class="side2"></div>
               </div>
                  

            <div class="circles">
               <div class="circle1"></div>
               <div class="circle2"></div>
               <div class="circle3"></div>
               <div class="circle4"></div>
               <div class="circle5"></div>
               <div class="circle6"></div>
               <div class="circle7"></div>
               <div class="circle8"></div>
         
               
            
              
            

        
            </div>
         </div>

 
        <div class="container">
            <div id="demo" style="text-align:center">

                <p style="text-align:center" id="wbox">
    
                    <span class="test" v-for="a in message" :style="{color: getColor()}" >
                       {{a}}
                    </span>
    
                </p>
    
                <input  v-model="message" style="text-align:center" id="g-ip">
    
            </div>
    
            
            <div class="btn">
                <div input="button" class="start-g" type="submit" id="grav" >
                  
                    <div class="globe">
            
                        <div class ="circleGlobe">
                          
        
                            <div class= "maps1"></div>
                            <div class= "maps2"></div>
                            <div class= "maps3"></div>
                            <div class= "maps4"></div>
                            <div class= "maps5"></div>
                            <div class= "maps6"></div>
                            <div class= "maps7"></div>
                            <div class= "maps8"></div>
                            <div class= "maps9"></div>
                            <div class= "shadow"></div>
                            <!-- <div class= "highlight"></div> -->
                            
                        </div>
                   
        
                     </div>
        
                </div>
                <div input="button" class="stop-g" type="submit" id="grav">
                    <div class="moon">
                    
                        <div class ="circleMoon">
                            <div class ="circleHighLighter"></div>
        
                        <div class= "crater1"></div>
                        <div class= "crater2"></div>
                        <div class= "crater3"></div>
                        <div class= "crater4"></div>
                        <div class= "crater5"></div>
                        <div class= "crater6"></div>
                        <div class= "crater7"></div>
                        <div class= "crater8"></div>
                        <div class= "crater9"></div>
    
         
                        
                        
                        </div>
        
                    </div>
                </div>
    
    
            </div>
    
    
            <input type="hidden" value="0" id="gravity-x" ></input>
            <input type="hidden"value="1" id="gravity-y" ></input>
        
    

            <iframe src="../sound/mars" allow="autoplay" style="display:none" ></iframe>

​

            <audio autoplay controls loop>  
                <source src="../sound/mars.mp3" type="audio/mp3">
            </audio>

      
    
    
    
    
    
    
           
    
        </div>
       
         <script src="gravity1.js"></script>

    </body>

</html>