body{
	overflow: hidden;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
	background-color: black;
  margin: 0;
}
/* --------------------------------------------------- */
.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#motion-demo{
position: absolute;

offset-path: path("M20 0 H 1650 V 900 H 0 L 00 0 " ); 
  /* offset-path: path('M20,20 C20,100 200,0 200,100'); */
  animation: move 5s infinite linear;
  width: 40px;
  height: 40px;
  background:transparent;
  color:white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}


#demo{
  
  text-align: center;



	/* margin-top:10%; */
  /* color: white; */
  
}

#demo input{
padding: 0px;
width: 300px;
height: 30px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
transition: all 1s;
outline: none;
background: whitesmoke;
border-color: transparent ;

border-radius: 30%;
margin-top: 5vh;
z-index: 100;
}
#demo input:focus{
width: 400px;
transition: all 1s;	
border: solid 3px; 
border-color: gray;
/* left: 35%; */
}
#wbox {
	margin-top: 5%;

}


	

.btn{
  /* margin-top: 50px; */
  text-align: center;
  justify-content: center;
  
}

.stop-g, .start-g{


/* padding:0 10% 10% 10%; */
 /* text-transform: uppercase; */

cursor: pointer;
transition: all .3s;
opacity: 1;

}

 .stop-g:hover, .start-g:hover{
transition: all .5s;
opacity: 0.6;
padding: 10px;
}




.test{
	font-size: 120px;
  padding: 0;
  margin: 0;
  color: aliceblue;
}





/* ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ----------------------  */


.moon{
  position: absolute;
  justify-content: center;
  display: inline-block;
  margin-left: 50px;
  
  padding: 10%;
}



  .circleMoon{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(255, 232, 131);
    /* z-index: 2; */

  }
    .circleMoon::before{
        content: " ";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: inset -21px -25px 18px 2px  rgb(219, 180, 108);
        left: 0px;
    }
  .circleHighLighter{
    content: " ";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset -21px -25px 10px -27px rgb(255, 246, 207);
    top: 0px;
    left: 0px;
  }
    .circleHighLighter::before  {
        content: " ";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: inset 13px 15px 10px -1px rgb(255, 246, 207);
        margin-top: 0px;
        left: 0ch;

    }

  .crater1 {
    background-color: rgb(255, 241, 180);
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 122px;
    position: absolute;

    }
    .crater1::before{
        content: " ";
        width:70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0px;
        box-shadow: inset 47px -64px 7px -77px rgb(255, 255, 255);
        
    }
    .crater1::after{
        content: " ";
        width:70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 50px 63px 20px -76px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;
    }

  .crater2 {
    background-color: rgb(255, 241, 180);
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 97px;
    margin-left: 157px;
    position: absolute;

    }
    .crater2::before{
        content: " ";
        width:70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -56px -75px 15px -90px  rgb(255, 255, 255);
        top: 0;
        left: 0px;
    }
    .crater2::after{
        content: " ";
        width:70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -46px 99px 24px -111px  rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;
    }

  .crater3 {
    background-color: rgb(255, 241, 180);
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 106px;
    margin-left: 219px;
    position: absolute;
    }
    .crater3::before{
        content: " ";
        width:30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -56px -75px 15px -90px  rgb(255, 255, 255);
        top: 0;
        left: 0px;
    }
    .crater3::after{
        content: " ";
        width:30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 50px 63px 20px -78px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;
    }
  .crater4 {
    background-color: rgb(255, 241, 180);
    width: 57px;
    height: 38px;
    border-radius: 50%;
    margin-top: 205px;
    margin-left: 204px;
    position: absolute;
    transform: rotate(135deg);
  }   
    .crater4::before{
        content: " ";
        width:57px;
        height: 38px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -1px 10px 1px -8px rgb(255, 255, 255);
        top: 0;
        left: 0px;
    }
    .crater4::after{
        content: " ";
        width:57px;
        height: 38px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 4px -44px 16px -38px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;
    }
  .crater5{
    background-color: rgb(255, 241, 180);
    width: 68px;
    height: 60px;
    border-radius: 50%;
    margin-top: 171px;
    margin-left: 50px;
    position: absolute;
    transform: rotate(45deg);
  }   
    .crater5::before{
        content: " ";
        width:68px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -29px -5px 7px -27px  rgb(255, 255, 255);
        top: 0;
        left: 0px;
    }
    .crater5::after{
        content: " ";
        width:68px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 43px -7px 31px -32px  rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;
    }
  .crater6{
    background-color: rgb(255, 241, 180);
    width: 26px;
    height: 40px;
    border-radius: 50%;
    margin-top: 147px;
    margin-left: 15px;
    position: absolute;
    transform: rotate(151deg);

  }   
    .crater6::before{
        content: " ";
        width: 26px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset 2px 4px 1px -1px rgb(255, 255, 255);
        top: 0;
        left: 0px;
  }



    .crater6::after{
        content: " ";
        width: 26px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -8px -41px 27px -32px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;


    }

  .crater7{
    background-color: rgb(255, 241, 180);
    width: 30px;
    height: 20px;
    border-radius: 50%;
    margin-top: 48px;
    margin-left: 55px;
    position: absolute;
    transform: rotate(130deg);
  }   
    .crater7::before{
        content: " ";
        width: 30px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -1px 2px 1px 1px rgb(255, 255, 255);
        top: 0;
        left: 0px;
  }



    .crater7::after{
        content: " ";
        width: 30px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -8px -41px 27px -36px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;

        
    }
  .crater8{
    background-color: rgb(255, 241, 180);
    width: 20px;
    height: 13px;
    border-radius: 50%;
    margin-top: 27px;
    margin-left: 91px;
    position: absolute;
    transform: rotate(141deg);
  }   
    .crater8::before{
        content: " ";
        width: 20px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -1px 2px 1px 2px rgb(255, 255, 255);
        top: 0;
        left: 0px;
  }



    .crater8::after{
        content: " ";
        width: 20px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -8px -41px 27px -36px rgba(255, 200, 98, 0.822);
        top: 0;
        left: 0px;

        
    }


    /* .crater7::after{
        content: " ";
        width: 30px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -8px -41px 27px -36px rgba(255, 200, 98, 0.822);

        
    } */

  .crater9{
    background-color: rgb(255, 241, 180);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 78px;
    margin-left: 100px;
    position: absolute;
    transform: rotate(141deg);
  }   
    .crater9::before{
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -1px 2px 1px -1px rgb(255, 255, 255);
        top: 0;
        left: 0px;
  }



    .crater9::after{
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        box-shadow: inset -8px -41px 3px -36px rgba(255, 200, 98, 0.522);
        top: 0;
        left: 0px;
        
    }
  







/* ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- */






.globe{
      
      position: absolute;
      justify-content: center;
      display: inline-block;
      left:10%;
      padding: 10%;
      
  }
  

  
  
  
  
  
  
  .circleGlobe {
      width : 300px; 
      height : 300px;
      border-radius: 50%;
      background :rgb(100, 149, 237);
      position: absolute;
  
      
     
      
  }
  
  .circleGlobe::after{
    content: "";
    position: absolute;
    width: 300px;
    height:300px; 
    border-radius: 50%;
    box-shadow: inset 24px 29px 21px -8px rgb(220, 229, 255);
    opacity: 0.3;
    top: 0px;
    left: 0px;
}
  
      .maps1{
      /* south */
          content:"";
          position: absolute;
          width: 123px;
          height: 117px;
          top: 167px;
          left: 166px;
          background-color: green;
          transform: rotate(7deg);
  
          clip-path: polygon(19% 5%, 14% 12%, 12% 20%, 13% 30%, 21% 38%, 27% 38%, 39% 42%, 46% 40%, 48% 52%, 51% 54%, 51% 59%, 53% 66%, 56% 73%, 54% 84%, 56% 84%, 46% 93%, 51% 93%, 59% 83%, 62% 81%, 66% 67%, 72% 57%, 77% 43%, 82% 34%, 87% 22%, 86% 8%, 89% 1%, 79% 1%, 77% 4%, 61% -6%, 38% 2%, 26% 2%, 21% 4%)
  
      }
          
      .maps2{ 
      /* north */
  
          content: "";
          position: absolute;
          width: 175px;
          height: 161px;
          top: 29px;
          left: 22px;
          background-color: green;
          transform: rotate(-3deg);
          clip-path: polygon(22% 2%, 19% 6%, 16% 7%, 13% 16%, 17% 19%, 31% 23%, 25% 32%, 27% 52%, 36% 78%,38% 79%, 33% 63%, 39% 70%, 43% 81%, 62% 93%, 69% 90%, 80% 101%, 99% 100%, 93% 98%, 96% 96%, 87% 96%, 78% 94%, 78% 88%, 70% 82%, 64% 82%, 59% 73%, 77% 74%, 81% 77%, 83% 76%, 81% 73%, 89% 63%, 98% 38%, 98% 30%, 97% 27%, 92% 21%, 132% 27%, 88% 12%, 76% 11%, 73% 20%, 77% 24%, 74% 31%, 72% 28%, 65% 25%, 60% 25%, 57% 21%, 66% 13%, 58% 10%, 56% 12%, 45% 10%, 40% 12%, 35% 11%, 32% 13%, 30% 4%);
      }
      .maps3 {
      /*  upper1*/
          content: "";
          position: absolute;
          width: 78px;
          height: 64px;
          top: 14px;
          left: 95px;
          background-color: green;
          transform: rotate(-7deg);
          clip-path: polygon(37% 26%, 31% 30%, 35% 45%, 43% 45%, 40% 52%, 45% 59%, 50% 52%, 49% 47%, 50% 43%, 63% 41%, 61% 49%, 77% 51%, 84% 36%, 80% 34%, 85% 32%, 82% 27%, 69% 22%, 56% 26%, 54% 23%);
      }
      .maps4 {
          content: "";
          position: absolute;
          width: 111px;
          height: 60px;
          top: 6px;
          left: 119px;
          background-color: green;
          transform: rotate(12deg);
          clip-path: polygon(36% 16%, 26% 31%, 30% 36%, 40% 34%, 50% 38%, 59% 42%, 67% 43%, 67% 36%, 64% 29%, 61% 18%, 44% 8%);
      }
  
      .maps5{
  
          content: "";
          position: absolute;
          width: 35px;
          height: 33px;
          top: 32px;
          left: 92px;
          background-color: green;
          transform: rotate(-4deg);
          clip-path: polygon(57% 30%, 48% 36%, 51% 42%, 58% 42%, 66% 34%, 74% 28%, 70% 23%, 59% 21%);
      }
      
      .maps6{
  
          content: "";
          position: absolute;
          width: 34px;
          height: 37px;
          top: 18px;
          left: 95px;
          background-color: green;
          transform: rotate(-4deg);
          clip-path: polygon(36% 36%, 43% 36%, 51% 44%, 51% 51%, 44% 52%, 37% 53%, 31% 46%);
      }
      .maps7{
  
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          top: 26px;
          left: 91px;
          background-color: green;
          transform: rotate(-4deg);
          clip-path: polygon(36% 36%, 43% 36%, 51% 44%, 51% 51%, 44% 52%, 37% 53%, 31% 46%);
      }
  
      .maps8{
  
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          top: 23px;
          left: 93px;
          background-color: green;
          transform: rotate(-4deg);
          clip-path: polygon(38% 49%, 40% 57%, 64% 48%, 63% 45%, 56% 44%, 49% 44%);
      }
  
      .maps9{
  
          content: "";
          position: absolute;
          width: 45px;
          height: 54px;
          top: 18px;
          left: 78px;
          background-color: green;
          transform: rotate(-4deg);
          clip-path: polygon(38% 35%, 44% 38%, 48% 36%, 54% 38%, 63% 37%, 71% 45%, 58% 56%, 46% 57%, 48% 51%, 46% 45%, 41% 47%, 29% 45%, 34% 36%, 39% 36%);
      }
  
      .shadow {
          content: "";
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50%;
          box-shadow: inset -21px -25px 35px 5px rgb(18 23 37);
          opacity: 0.6;
      }
      .shadow::before{
          /* 반사광 */
          content: "";
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50%;
          box-shadow: inset -21px -25px 9px -27px rgb(220, 229, 255);
          opacity: 0.4;
          top: 0px;
          left: 0px;
      }
  
 







/* ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- */


 .cursor{
          
          position: absolute;
        
        }  
        
        
        /* .container{
        
        
        } */
        
        
        
          .window{
            content: " ";
            background-color: white;
            width:9px;
            height:9px;
            border-radius: 50%;
            position: absolute;
            top:12px;
            left: 5.4px;
            z-index: 5;
          }
          
        
            .window::after{
                content: " ";
                background-color: dodgerblue;
                width:7px;
                height: 7px;
                position:absolute;
                margin-top: 1px;
                margin-left: 1px;
                border-radius: 50%;
            
          }
            .window::before    {  
          
                content: " ";
                width: 7px;
                height: 7px;
                position: absolute;
                margin-top: 1px;
                margin-left: 1px;
                border-radius: 50%;
                box-shadow: inset -4px -1px 1px -3px rgb(255 255 255 / 50%);
                z-index: 6;
            }
        
        
            
            
          .shipBodyDeco2{
            
        
            background-color:rgb(219, 219, 219);
            width:20px ;
            height: 12px; 
            position: absolute;
            margin-top: 10px;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            z-index: 4;
          }
        
          .shipBodyDeco{
        
            background-color:red;
            width:20px ;
            height: 11px; 
            position: absolute;
            margin-top: 9px;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            z-index: 3;
          }
        
        
          .shipBody{
            
            background-color: rgb(219, 219, 219);
            width: 20px;
            height: 34px;
            position: absolute;
            
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            z-index: 2;
        
          }
        
        
          .peak {
            background-color: red;
            width: 20px;
            height: 20px;
            position: absolute;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            
            z-index: 2;
        
          }
            .peak::before{
                content : "" ; 
                display: block;
                background-color: rgb(219, 219, 219);
                position:absolute;
                width: 20px;
                height: 15px;
                margin-top: 8px;
                border-top-left-radius: 40%;
                border-top-right-radius: 40%;
            }
        
        
        
            
        
        
        
          .bottomDeco {
            display: block;
            background-color:rgb(255, 2, 2);
            width: 20px;
            height: 9px;
            margin-top: 26px;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            position: absolute;
            z-index: 2;
          }
        
        
          .bottom {
        
            background-color: rgb(219, 219, 219);
            width: 20px;
            height: 11px;
            position: absolute;
            margin-top: 27px;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 30%;
            border-bottom-right-radius: 30%;
            z-index: 2;
          }
          .bottoms{
            position: absolute;
            top:-8px;
            left: 0px;
          }
            .bottom2{
                background-color: rgb(219, 219, 219);
                width: 8px;
                height: 6px;
                position: absolute;
                top: 43px;
                margin-left: 12px;
                border-radius: 0 0 50% 50%;
                z-index: 3;
            }
            .bottom3{
                background-color: rgb(219, 219, 219);
                width: 8px;
                height: 6px;
                position: absolute;
                top: 43px;
                margin-left: 0px;
                border-radius: 0 0 50% 50%;
                z-index: 3;
            }
        .sides{
          position: absolute;
          top:-8px;
          left:0px;
        }
        
          .side1{
          
            position: absolute;
            top: 34px;
            margin-left: 12px;
            width: 12px;
            height: 14px;
            border-top: 9px solid red;
            border-radius: 50%;
            z-index: 1;
          
          }
            .side1::before{
                content:" ";
                position: absolute;
                top: -9px;
                margin-left: 1px;
                width: 10px;
                height: 15px;
                border-radius: 50%;
                box-shadow: inset 5px 7px 5px -5.9px black;
        }
          .side2{
            display: block;
            position: absolute;
            top: 34px;
            margin-left: -4px;
            width: 12px;
            height: 14px;
            border-top: 9px solid red;
            border-radius: 50%;
            z-index: 1;
          }
            .side2::before{
                content:" ";
                position: absolute;
                top: -9px;
                margin-left: 1px;
                width: 10px;
                height: 15px;
                border-radius: 50%;
                box-shadow: inset -5px 7px 5px -5.9px black;
            }
         
        .circles{
          position: absolute;
          top: -8px;
          left: -8px;
        }
        
                .circle1{
                    
                    background-color:rgb(77, 77, 77);
                    position: absolute;
                    width:1px;
                    height: 1px;
                    border-radius: 50%;
                    top: 38px;
                    z-index: 6;
                    left:9px;
                }
            
                .circle2{
                    
                    background-color:rgb(77, 77, 77);
                    position: absolute;
                    width:1px;
                    height: 1px;
                    border-radius: 50%;
                    top: 37px;
                    left: 11px;
                    z-index: 6;
                }
                
                .circle3{
                    
                    background-color:rgb(77, 77, 77);
                    position: absolute;
                    width:1px;
                    height: 1px;
                    border-radius: 50%;
                    top: 36.4px;
                    left: 13px;
                    z-index: 6;
                }
                .circle4{
                    
                  background-color:rgb(77, 77, 77);
                  position: absolute;
                  width:1px;
                  height: 1px;
                  border-radius: 50%;
                  top: 36px;
                  left: 15.5px;
                  z-index: 6;
              }
                .circle5{
                    
                  background-color:rgb(77, 77, 77);
                  position: absolute;
                  width:1px;
                  height: 1px;
                  border-radius: 50%;
                  top: 36px;
                  left: 18.5px;
                  z-index: 6;
              }
            
                .circle6{
                    
                  background-color:rgb(77, 77, 77);
                  position: absolute;
                  width:1px;
                  height: 1px;
                  border-radius: 50%;
                  top: 36.4px;
                  left: 21.4px;
                  z-index: 6;
                }
                .circle7{
                    
                  background-color:rgb(77, 77, 77);
                  position: absolute;
                  width:1px;
                  height: 1px;
                  border-radius: 50%;
                  top: 37px;
                  left: 24px;
                  z-index: 6;
                }
                .circle8{
                    
                  background-color:rgb(77, 77, 77);
                  position: absolute;
                  width:1px;
                  height: 1px;
                  border-radius: 50%;
                  top: 38.4px;
                  left: 26px;
                  z-index: 6;
                }
            
            
            
  
  








/* ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- ---------------------- */


.orbit{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}



.orbit1{
  stroke-dasharray: 500;
  animation: dash1 1s linear infinite;
}

@keyframes dash1 {
  to {
    stroke-dashoffset: 1000;
  }
}

.orbit2{
  stroke-dasharray: 600;
  animation: dash2 2s linear infinite;
}
@keyframes dash2 {
  to {
    stroke-dashoffset: 1400;
  }
}
.orbit3{
  stroke-dasharray: 1200;
  animation: dash3 3s linear infinite;

}
@keyframes dash3{
  to {
    stroke-dashoffset: 2400;
  }
}

.orbit4{
    stroke-dasharray: 1400;
  animation: dash4 4s linear infinite;
}
@keyframes dash4{
  to {
    stroke-dashoffset: 2800;
  }
}

.orbit5{
  stroke-dasharray: 1800;
animation: dash5 6s linear infinite;
}
@keyframes dash5{
to {
  stroke-dashoffset: 3600;
}
}

audio{
  position: fixed;
  top: 10px;
  left: 10px;
  opacity: 0.6;
  /* width: 40px;
  height: auto; */
}