

body{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

#toggle {
    position: absolute;
   top: 39%;
   left: 30%;

    background: none;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
   
}


p{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    color: whitesmoke;
    
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: 90%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
p:hover{
  transition: all 1s ease;
  font-weight: bolder;
  font-size: 2.2em;
  
}
video{
  justify-content: center;
  position: absolute;

  left: -10%;
  top: 0;
  margin: 0;
  width: 120%;
  height: auto;
}
/* 
#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
    width: 100%;
    height: 3px;
    background: #333;
}

#toggle div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}

#toggle div.bar:before {
    content: " ";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}

 #toggle div.bar:after {
    content: " ";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
} */

/* Animation */
/* 
#toggle div.bar.animate {
    background: rgba(255, 255, 255, 0);
}

#toggle div.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}

#toggle div.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
} */


#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease, max-height 0s 0.6s ease;
    z-index: 100;
    opacity: 1;
    background:none;
    
}

#overlay nav {
  position: absolute;
  
  top:0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;

}

#overlay nav ul,
#overlay nav ul li {
    margin: 0;
    padding: 0vh;
    display: inline-block;
    position: static;
}
#overlay nav ul{
  padding: 0vh;
}

 /* #overlay nav ul {
    padding: 30px;
 } */

 #overlay nav ul li {
    /* margin-bottom: 10px; */
    opacity: 0;
    transition: all 0.9s 0s ease;
    padding: 20vh;
 }

 #overlay nav ul li a {
   position: relative;
   height: 50px;
   display: inline-block;
   /* color: #ffffff; */
   transition: all 0.6s 0s ease;
   text-transform: normal;
   font-size: 1.25em;
   font-weight: 300;
   color: white;
   text-decoration: none;
   opacity: 0.5;
 }

 #overlay nav ul li a:after {
   content: " ";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   opacity: 0;
   height: 1px;
   background: white;
   transition: all 0.6s 0s ease;
 }

 #overlay nav ul li a:hover:after {
   width: 100%;
   opacity: 1;
 }

 #overlay nav ul li a:hover {
   color: whitesmoke;
   opacity: 1;
   font-size: 1.56em;
 }

 #page.overlay #overlay nav ul li:nth-child(1) {
   transition: all 0.9s 0.6s ease;
 }
 #page.overlay #overlay nav ul li:nth-child(2) {
   transition: all 0.9s 0.8s ease;
 }
 #page.overlay #overlay nav ul li:nth-child(3) {
   transition: all 0.9s 1.0s ease;
 }
 #page.overlay #overlay nav ul li:nth-child(4) {
   transition: all 0.9s 1.2s ease;
 }
 #page.overlay #overlay nav ul li:nth-child(5) {
  transition: all 0.9s 1.4s ease;
}
#page.overlay #overlay nav ul li:nth-child(6) {
  transition: all 0.9s 1.6s ease;
}


 /* #overlay nav ul li a {
    text-transform: normal;
    font-size: 35px;
    font-weight: 300;
    color: white;
    text-decoration: none;
 } */

#page #overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 1200px;
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease;
}

#page.overlay #overlay nav ul li {

  margin-left: 0;
  opacity: 1;
}